<?php if ('iframe' == $this->getDeployment()) { ?>
    <iframe id="etpayIframe"
                title="ETPay Iframe"
                width="100%"
                height="500px"
                src="<?php echo $this->getPaymentUrl($this->getToken()); ?>">
    </iframe>
<?php } else { ?>
    <style>
        .etpay-message {
            background: #f7f7f7;
            margin: auto;
            margin-top: 40px;
            padding: 40px 24px 40px;
            color: #666;
            text-align: center;
            width: 100%;
            max-width: 480px;
            font-family: "Open Sans", Hevetica, Arial;
        }
    </style>

    <form action="<?php echo $this->getPaymentUrl($this->getToken()); ?>" method="post" id="etpay_form" name="etpay_form">
        <input type="hidden" name="Parameters" value="//$this->getParameters()" />
    </form>

    <div class="etpay-message">
        <h4><?php echo $this->__('Redirecting to ETPayment... Please wait.'); ?></h4>
        <p><?php echo $this->__('Thanks for trusting us. In a few seconds you will be redirected to the payment platform.'); ?>'</p>
        <p><?php echo $this->__('If your browser does not redirect you automatically click <a href="javascript:void(0)" onclick="document.etpay_form.submit();">here</a> to carry out the payment.'); ?></p>
    </div>
    <script type="text/javascript">
        document.etpay_form.submit();
    </script>
<?php } ?>